.header__lang-link {
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:first-of-type {
  border-bottom: 2px solid;
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link:first-of-type {
    padding-bottom: 1px;
  }
}