.footer__link {
  color: #ffffff;
  text-decoration: none;
  padding-right: 18px;
  border: 1px red so;
}

@media screen and (max-width: 425px) {
  .footer__link {
    min-width: 100%;
    padding-top: 32px;
  }
}

.footer__link:hover {
  opacity: 0.8;
}
