.footer__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .footer__link {
    color: #ffffff;
    min-width: 100%;
    text-decoration: none;
    padding-top: 32px;
  }
}

.footer__link:last-child {
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}