.footer__links {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .footer__links {
    line-height: 24px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }
}