.lead__subtitle {
  padding-top: 32px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.90625vw;
    line-height: calc(3.90625vw * (36 / 30));
    max-width: 83.3%;
    padding-top: 4vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    max-width: 90%;
  }
}
